<div class="jumbotron">
<form action="/auth/login" method="POST">
    <div class="form-group">
        <label for="authEmail"><h3>Email:</h3></label>
        <input id="authEmail" class="form-control" type="email" name="email">
    </div>
    <div class="form-group">
        <label for="authPassword"><h3>Password:</h3></label>
        <input id="authPassword" class="form-control" type="password" name="password">
    </div>
    <input type="submit" class="btn btn-primary btn-lg btn-block">
</form>
</div>
