<h1>About Crossfit Verve:</h1>
<br>
<h3>Why are we doing this?</h3>
<h5>To cultivate a fit community that transforms lives by providing elite functional fitness, so that people may live happier and healthier.</h5>
<hr \>
<h5>Services Offered:</h5>
<ul>
    <li>Functional Fitness</li>
    <li>Traditional Crossfit</li>
    <li>Personal Training</li>
</ul>
<hr \>
<div class="aboutContainer">
    <h3>Get to Know Verve. Check out the tour:</h3>
</div>

<div class="youtube">
    <iframe src="https://www.youtube.com/embed/l6kHUmdyUyI" width="100%" height="100%" frameborder="0" allowfullscreen="allowfullscreen" alt="youtube tour video"></iframe>
</div>
<hr \>

<div class="aboutContainer">
    <p>Believe it! As simple as it seems, our mission statement took us a very long time to create. It is not a bunch of BS that we wrote down to fill this page. We have asked ourselves over and over again “Why are we doing this?” Our answer is the same every time – we want to help people. We want to inject fitness into people’s lives. We want to foster a community that supports each other. We want to increase self esteem by providing a strength and conditioning program that gets people silly strong. CrossFit has become a calling to us. We teach skills on how to move the human body and loco-mot self. This is powerful stuff. It will change every quadrant of one’s life. It will make you happier and healthier. Who could ask for a better mission? We think everyone should be crazy about their fitness. You only have one body, treat it well and it will treat you and your family well.</p>
</div>
<hr \>
