<div class="container">
    <h1>About Crossfit Verve:</h1>
    <br>
    <h3>Why are we doing this?</h3>
    <h5>To cultivate a fit community that transforms lives by providing elite functional fitness, so that people may
        live happier and healthier.</h5>
    <hr \>
</div>

<div class="container">
    <h4>Services Offered:</h4>
    <br>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#Crossfit">Crossfit</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Sprint">Verve Sprint</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Personal">Personal Trianing</a>
        </li>
    </ul>
    <br>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show" id="Crossfit">
            <p>Constantly varied functional movements done at high intensity. The WODs are scaled and modified to each
                athlete’s level and performed at the highest intensity that the individual can sustain with good form
                and proper technique. All functional movements to include 3 modalities; mono structural, gymnastics and
                weight-lifting. This is our GPP program (General Physical Preparedness) designed to increase your work
                capacity across broad time and modal domains while improving CrossFit’s 10 general skills.
                Cardio-respiratory endurance, Strength, Stamina, Flexibility, Power, Speed, Agility, Balance,
                Coordination, and Accuracy.</p>
        </div>
        <div class="tab-pane fade" id="Sprint">
            <p>Verve Sprint is a class designed for athletes who want the high-intensity, constantly-varied, functional
                movements of CrossFit but don’t share the same excitement as some about the complex barbell movements.
                Classes will include body weight movements, rowing, running, jumping/plyometrics, medicine balls,
                kettlebells, dumbbells, and whatever other things we can come up with, in longer metcon formats. Verve
                Sprint is still CrossFit and we will continue to develop the 10 general physical skills: Cardiovascular
                Respiratory Endurance, Stamina, Strength, Flexibility, Power, Speed, Coordination, Agility, Balance, and
                Accuracy, there will simply be limited barbell involvement.</p>
        </div>
        <div class="tab-pane fade" id="Personal">
            <p>Our flagship athlete development program. Our personal training is for athletes seeking to push
                themselves to the limits of their potential. Whether your goals include standing on podiums or simply
                becoming fitter than you ever imagined.</p>
        </div>
    </div>
</div>


<div class="aboutContainer">
    <h3>Get to Know Verve. Check out the tour:</h3>
</div>

<div class="youtube">
    <iframe src="https://www.youtube.com/embed/l6kHUmdyUyI" width="100%" height="100%" frameborder="0"
        allowfullscreen="allowfullscreen" alt="youtube tour video"></iframe>
</div>
<hr \>

<div class="aboutContainer">
    <p>Believe it! As simple as it seems, our mission statement took us a very long time to create. It is not a bunch of
        BS that we wrote down to fill this page. We have asked ourselves over and over again “Why are we doing this?”
        Our answer is the same every time – we want to help people. We want to inject fitness into people’s lives. We
        want to foster a community that supports each other. We want to increase self esteem by providing a strength and
        conditioning program that gets people silly strong. CrossFit has become a calling to us. We teach skills on how
        to move the human body and loco-mot self. This is powerful stuff. It will change every quadrant of one’s life.
        It will make you happier and healthier. Who could ask for a better mission? We think everyone should be crazy
        about their fitness. You only have one body, treat it well and it will treat you and your family well.</p>
</div>
<hr \>