<div class="jumbotron">
    <h1><strong>Welcome to Crossfit Verve</strong></h1>
    <br>
    <h4>Building a Stronger Denver.</h4>
    <br>
    <br>
    <img id="front-splash" src="/img/victor-freitas-hOuJYX2K5DA-unsplash.jpg">
 
</div>