<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/yeti/bootstrap.min.css" integrity="sha384-chJtTd1EMa6hQI40eyJWF6829eEk4oIe7b3nNtUni7VxA3uHc/uIM/8ppyjrggfV" crossorigin="anonymous">
    <link rel="stylesheet" type="style/css" href="/public/style/style.css">
    <title>Verve</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Verve</a>
            <div class="collapse navbar-collapse" id="navbarColor02">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>
        <nav>
            <div class="container">
            <% if(currentUser != undefined && currentUser.admin != undefined){ %>
                <a href="/blog/new">New Post</a> 
                <a href="/auth/register">Add a User</a>
           <% } %>
            <% if (currentUser) { %>
                <a href="/auth/logout">logout</a>
                <a href="/about">About</a>
                <a href="/">Home</a>
                <a href="/profile">Profile</a>
                <a href="/blog">WOD Blog</a>    
           <% } else { %>
                <a href="/auth/login">Login</a>
                <a href="/about">About</a>
                <a href="/">Home</a>
           <% } %>
        </div>
        </nav>
    </header>
<%- include('./partials/alerts') %>
<div class ="container">
    <%- body %>
</div>

</body>
</html>