<h2>Hi <%= currentUser.name %>, Welcome to Crossfit Verve!</h2>
<% if(currentUser.admin === "1") { %>
    <h5> You're signed into an <strong>administrator account</strong>, blog posting and user maintenance is available.</h5>
<% } %>
<hr \>
<h2> Favorite Blogs: </h2>
<% favorites.forEach(favorite => { %>
    <div class="list-group" id="faveList">
        <a href="/blog/<%= favorite.dataValues.blogId%>" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h4 class="mb-1"><%- favorite.dataValues.blogTitle %></h4>
          </div>
          <p class="mb-1"><%- favorite.dataValues.date %></p>
        </a>
    </div>
<% }) %>