<h1>WOD Blog:</h1>
<hr \>
<div class="container">
<div id="containerFlex">
<% blogs.forEach(blogPost => { console.log(blogPost.createdAt) %>
    <div class="card border-primary mb-3" style="max-width: 20rem;" id="cardFlex">
        <div class="card-header"><a href="/blog/<%= blogPost.id %>"><strong><%= blogPost.title %></strong></a></div>
        <div class="card-body">
          <h5 class="card-title">Post Date:</h5>
          <p class="card-text"> <a href="/blog/<%= blogPost.id %>"><%- blogPost.createdAt  %></a></p>
        </div>
</div>
<% }) %>
</div>
</div>


 