<h1>Edit/Delete Blogs:</h1>
<% blogs.forEach(blog => { %>

<div class="list-group">
    <a class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h4 class="mb-1"><%- blog.dataValues.title %></h4>
            <form method="POST" action="/blog/delete/<%-blog.dataValues.id%>">
                <button type="submit">Delete</button>
            </form>
        </div>
        <p class="mb-1"> User:<%- blog.dataValues.authorId %></p>
        <% if(blog.dataValues.content){ %>
        <p class="mb-1"><%= blog.dataValues.content.slice(0,15) %></p>
        <% } %>
    </a>
</div>
<% }) %>